<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Movies</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/add-movie" class="ios" tab="add-movie">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Add Movies</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
